/* Light Mode */
html[data-theme='light'] {
    --primary-color: #01408e;
    --secondary-color: #3c5d5c;
    --bg-color: rgb(255,255,255);
    --font-color: rgb(0, 0, 0);
    --heading-color: rgb(0, 0, 0);
}

/* Dark Mode */
html[data-theme='dark'] {
    --primary-color: #8fceff;
    --secondary-color: #72faca;
    --bg-color: rgb(56,56,56);
    --font-color: rgb(255,255,255);
    --heading-color: ;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

