:root, html[data-theme='light'] {
    --primary-color: rgb(255,255,255);
    --secondary-color: ;
    --bg-color: rgb(255,255,255);
    --font-color: rgb(0, 0, 0);
    --heading-color: rgb(0, 0, 0);
}

html[data-theme='dark'] {
    --primary-color: rgb(0,0,0);
    --secondary-color: ;
    --bg-color: rgb(56,56,56);
    --font-color: rgb(255,255,255);
    --heading-color: ;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

